body {
    background-color: #101010;
}

.body-content {
    margin: 0;
    padding: 5% 0 5% 22%;
}

/* Set content behavior if side nav is minimized */
.body-content-minimized {
    margin: 0;
    padding: 5% 0 5% 5%;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column */
.dl-horizontal {
    white-space: normal;
    margin:0;
}

dt, dd {
    margin:10px 0 0 0;
}

input,
select,
textarea {
    background-color: white;
    overflow-y: auto;
    overflow-wrap: break-word;
    overflow-x: hidden;
    resize: none;
    max-width: 350px;
}

/* rounding corners on textareas to match input element appearance */
textarea {
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
}

/* to allow highlighting and other text tricks */
.text-div {
    max-width: 350px;
    max-height: 500px;
    padding:10px;
    overflow-wrap:break-word;
    overflow:auto;
    background-color: white;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
}

/* for the side menu on the layout page */
.side-nav {
    background-color: #202020;
    height: 100%;
    width: 20%;
    overflow: hidden;
    align-content: center;
    position: fixed;
    margin: 0;
    padding: 5% 0 5% 0;
}

/* for the overlay used by all three pages */
.overlay {
    text-align: center;
    align-content: center;
    height: 100%;
    width: 30%;
    position: fixed;
    margin: 3% 0 0 20%;
    padding: 5%;
    background-color: rgba(0,0,0,0.9); /* background, with opacity */
    overflow-x: hidden;
    transition: 0.5s; /* animation delay on overlay slide */
}

/* alignment and styling for overlay content */
.overlay-content {
    margin: 0;
    padding: 5%;
    color: lightgray;
    text-align: center;
}

.overlay-title {
    padding: 5%;
    color: #058bd8;
    font: bold 40px arial, verdana;
}

.overlay-links {
    padding: 5%;
    color: #058bd8;
}

.overlay-keywords {
    text-align: center;
    padding: 5%;
}

.overlay a {
    font: bold 25px arial, verdana;
}

.overlay li {
    text-decoration: none;
    list-style-type: none;
    text-align: center;
}

.overlay a:hover, .overlay a:focus {
    color:lightgray;
    text-decoration: none;
}

.overlay .close-btn {
    position: absolute;
    top: 0;
    right: 2%;
    margin: 2% 1% 5% 0;
    font: bold 50pt arial, verdana;
}

.body-panel {
    height: 100%;
    width: 100%;
    overflow: hidden;
    padding: 0;
    background-color: inherit;
    align-content: center;
}

a {
    text-decoration: none;
    background-color:inherit;
    text-emphasis:none;
    font: 14pt arial, verdana;
}

ul {
    text-decoration:none;
    list-style-type:none;
    background-color:inherit;
    display:inline-block;
}

a:hover {
    color:lightslategray;
    text-decoration:none !important;
    background-color: none;
}

a:active {
    text-decoration:none !important;
    outline:none !important;
}

a:focus {
    text-decoration:none !important;
    outline:none !important;
}

.dropdown-toggle {
    font-size:12pt;
}

.dropdown-menu {
    background-color:lightgrey;
    color: black;
    font: bold;
}

::-webkit-scrollbar {
    background-color:#202020;
    max-height: 200px;
}

::-webkit-scrollbar-track {
    background-color: #313131;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 10px rgba(0,0,0,1);
}

::-webkit-scrollbar-thumb {
    background-color: #058bd8;
    height:20px;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 20px rgba(0,0,0,1);
}

label {
    background-color:inherit;
    color:darkgray;
    text-emphasis: none;
    font: 14px;
}

.popover {
    margin: 0 0 10px 0;
    padding: 0px;
    background-color: white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px 10px;
}

.popover-title {
    background-color: dimgrey;
    text-align: center;
    color: black;
    font: bold;
    margin: 0 0 1px 0;
    padding: 5px;
}

.popover-content {
    background-color: grey;
    color: black;
    padding: 5px 10px 5px 10px;
    text-emphasis: none;
}

.text-highlight {
    color: #058bd8;
}

/* media adjustment for overlay */
@media screen and (max-height: 450px) {
    .overlay a {font-size: 10pt}
    .overlay .close-btn {
        font-size:16pt;
        top: 15px;
        right: 30px;
    }
    a {font-size:10pt}
    .side-nav {width: 0; height: 0;}
}