<div id="overlay" class="overlay">
    <a tabindex="" id="overlay-close" role="button" class="close-btn">&times;</a>
    <div id="overlay-title" class="overlay-title"></div>
    <div id="overlay-content" class="overlay-content"></div>
    <div id="overlay-links" class="overlay-links">
        <ul id="link-list"></ul>
    </div>
    <div id="overlay-keywords" class="overlay-keywords"></div>
</div>