<div id="overlay" class="overlay">
    <a tabindex="" href="javascript:void(0)" role="button" class="close-btn" onclick='closeOverlay()'>&times;</a>
    <div class="overlay-content">
        <div id="overlay-title" class="overlay-title"></div>
        <div id="overlay-content" class="overlay-content"></div>
        <br />
        <ul id="overlay-links" style="margin: 0; padding: 0;"></ul>
    </div>
</div>