<div id="overlay" class="overlay">
    <a tabindex="" href="javascript:void(0)" role="button" class="close-btn" onclick='closeOverlay()'>&times;</a>
    <div class="overlay-content">
        <div id="overlay-title" class="overlay-title"></div>
        <div id="overlay-content" class="overlay-content"></div>
        <br />
        <ul id="overlay-links" style="margin: 0; padding: 0;"></ul>
    </div>
</div>

<script>
    // opens/closes overlay elements called by the side nav
    function openOverlay(name) {
        fillOverlay(name);
        document.getElementById('overlay').style.width = "25%";
    }

    function closeOverlay() {
        document.getElementById('overlay').style.width = "0%";
    }

    function cleanOverlay() {
        var overlayDef = document.getElementById("overlay-content");
        var overlayTitle = document.getElementById("overlay-title");
        var overlayLinks = document.getElementById("overlay-links");

        while (overlayTitle.firstChild) {
            overlayTitle.removeChild(overlayTitle.firstChild);
        }
        while (overlayDef.firstChild) {
            overlayDef.removeChild(overlayDef.firstChild);
        }
        while (overlayLinks.firstChild) {
            overlayLinks.removeChild(overlayLinks.firstChild);
        }
    }

    function fillOverlay(name) {
        cleanOverlay();
        SetOverlayTitle(name);
        SetOverlayDef(name);
        SetOverlayLinks(name);
    }

    // fills overlay elements depending on calling element and ajax result
    function SetOverlayTitle(name) {
        $.ajax({
            method: 'POST',
            url: '@Url.Action("GetOverlayTitle", "Calculator")',
            data: { key: name },
            success: function (result) {
                var titleDiv = document.getElementById('overlay-title');
                if (titleDiv.childNodes.length == 0) {
                    var content = document.createTextNode(result.Title);
                    titleDiv.appendChild(content);
                }
            }
        });
    }

    function SetOverlayDef(name) {
        $.ajax({
            method: 'POST',
            url: '@Url.Action("GetOverlayDef", "Calculator")',
            data: { key: name },
            success: function (result) {
                var contentDiv = document.getElementById('overlay-content');
                if (contentDiv.childNodes.length == 0) {
                    var content = document.createTextNode(result.Definition);
                    contentDiv.appendChild(content);
                }
            }
        });
    }

    function SetOverlayLinks(name) {
        $.ajax({
            method: 'POST',
            url: '@Url.Action("GetOverlayLinks", "Calculator")',
            data: { key: name },
            success: function (result) {
                var links = document.getElementById('overlay-links');
                if (links.childNodes.length == 0) {
                    var length = result.Links.length;
                    for (var a = 0; a < length; a++) {
                        var item = document.createElement("li");
                        var link = document.createElement("a");
                        link.text = result.Links[a].Item2;
                        link.id = result.Links[a].Item1;
                        item.appendChild(link);
                        links.appendChild(item);
                    }
                    links.addEventListener("click", function (event) {
                        cleanOverlay();
                        SetOverlayTitle(event.target.id);
                        SetOverlayDef(event.target.id);
                    });
                }
            }
        });
    }
</script>