@{
    ViewBag.Title = "Calculator";
}
@* NOTE: Content in text-analyze has been parsed to add html in calculator controller. *@
<div>
    <div style="float:left;">
        <dl class="dl-horizontal">
            <dt>
                <label for="user-exp" id="exp-label">Enter your expression:</label>
            </dt>
            <dd>
                <input tabindex="" class="form-control" id="user-exp" />
            </dd>
            <dt>
                <label for="exp-text" id="text-label">What it means:</label>
            </dt>
            <dd>
                <textarea tabindex="" id="exp-text" rows="4" cols="80" readonly="readonly"></textarea>
            </dd>
            <dt>
                <label for="text-analyze">Text to be analyzed:</label>
            </dt>
            <dd>
                <div tabindex="" class="text-div" id="text-analyze">@Html.Raw(@ViewBag.SampleText)</div>
            </dd>
        </dl>
        <div class="pull-right" style="margin: 10px;">
            <a id="calc" style="margin: 0 20px 0 0;">Calculate</a>
            <a id="parse-toggle" data-toggle="popover" data-trigger="focus" title="NOTE" data-content="Feature currently in alpha.">Plain Text</a>
        </div>
    </div>
</div>